@{
    ViewData["Title"] = "Camilo Lozano III - ASP.Net Core C#";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, this is my personal website written in ASP.Net Core C#. Please sign-up on my guestbook. Thanks.</p>
    <p>If interested with my work, you may download the source code at githab or <a href="https://github.com/camilord/AspNetCoreCSharpGuestbook" target="_blank">click here</a>.</p>
</div>
