@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Upon signing up the guestbook, we are recording your IP address and we keep your email address securely and not shared to any parties.</p>
